@{
    ViewBag.Title = "User Deleted";
}

<h2>User Deleted</h2>

<p>The user has been successfully deleted.</p>

<a href="@Url.Action("ViewUserDetails", "Admin")" class="btn btn-primary">Back to User Details</a>
