@{
    ViewBag.Title = "Visit Scheduled";
}

<h2>Visit Scheduled</h2>

<p>Your visit has been successfully scheduled. Thank you!</p>

<a href="@Url.Action("ViewPropertyListings", "User")" class="btn btn-primary">Back to Property Listings</a>
